.h1 {
    font-size: 3rem;
    display: inline-block;
    position: relative;
    background-image: repeating-linear-gradient(to bottom, var(--cell-yellow) 0 4px, var(--cell-purple) 4px 8px), repeating-linear-gradient(to right, transparent 0 4px, var(--cell-purple) 4px 8px);
    background-blend-mode: color;

    &-text {
        background-color: white;
        mix-blend-mode: screen;
    }
}