.title {
    &-text {
        position: relative;

        &::after {
            display: block;
            content: "";
            width: 80%;
            height: max(6px, 30%);
            position: absolute;
            bottom: 0;
            left: 10%;
            z-index: -1;
            background-color: var(--title-accent);
        }
    }
}