.cells {
  display: grid;
  grid-template-columns: repeat(var(--cells-per-row), 1fr);

  &>div {
    aspect-ratio: 1/1;
    font-size: 0;
    user-select: none;

    &.player-x {
      background-color: var(--cell-yellow);
    }

    &.player-o {
      background-color: var(--cell-purple);
    }

    &.is--winner-move {
      animation: flash 0.8s ease-in infinite;
    }
  }
}

@keyframes flash {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.2;
  }
}