.toast {
    position: fixed;
    padding: calc(var(--padding-button) * 2);
    top: 100%;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    border: 6px solid;
    background-color: white;
    animation: slideUp 2.2s ease-in-out forwards;

    &.success {
        border-color: var(--toast-success-accent);
    }

    &.error {
        border-color: var(--toast-error-accent);
    }
}

@keyframes slideUp {
    0% {
        transform: translate3d(-50%, 0, 0);
    }
    20% {
        transform: translate3d(-50%, calc(-100% - var(--margin-top)), 0);
    }
    90% {
        transform: translate3d(-50%, calc(-100% - var(--margin-top)), 0);
    }
    100% {
        transform: translate3d(-50%, 0, 0);
    }
}