.app {
  max-width: 600px;
  height: 100vh;
  margin: 0 auto;
  padding-inline: var(--gap);

  &>nav {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    padding-bottom: var(--gap);

    &>ul {
      display: flex;
      gap: var(--gap);

      & a:link,
      & a:visited {
        color: inherit;
        text-decoration-color: var(--main-color);
      }

      & a:hover {
        text-decoration-color: inherit;
      }
    }
  }
}